language: java

env:
  global:
    - secure: "Ta9BR1H1EmB0nfWw2Egqq1LQd4Bp8c7RA1qQNicsenezlkm50JAUJMrtt0MJ9MY+ay1tKKUOcSTv2dU67kd1jhzW1USjvSQKzoFjlTZPvVUynzkN1Wq4FwOXcLVoOLHcU6Gf3sRCUNkQCRsdTL5VO6kV2IRWvGD/CGPNnwMSexc="

jdk:
  - oraclejdk7

install:
  - git config --global user.email $GIT_EMAIL
  - git config --global user.name $GIT_NAME

script:
  - gradle test
  - git clone --branch=gh-pages https://$GH_TOKEN@github.com/carlosvin/java_embedded_databases output
  - rm -rf output/build/*
  - mv -f build/reports build/test-results build/resources output/build
  - cd output
  - git add .
  - git commit -m "updating reports"
  - git push origin gh-pages

