language: java

env:
  global:
    - secure: "pKUFp5gGidadbrNDwPvsjkZBMbEDuJfsi+kyegooTF4Mv2Snp6mfDwaL3CQtDV/kMTtTyQ65lqK3AmfyTzHJFj2ujBwQxcnJp1Dj1dS1HRfFnGiYsC71IXUyH1wLbY65/U0d2Y/59QIEAnW8AsB+bb62SNEwbj19Qv57ku5F0oY="
    
jdk:
  - oraclejdk7
   
before_install:
  - sudo apt-get update && sudo apt-get --reinstall install -qq language-pack-en language-pack-es

install:
  - git config --global user.email $GIT_EMAIL
  - git config --global user.name $GIT_NAME

script:
  - gradle test
  - git checkout gh-pages
  - git add .
  - git commit -m "updating reports"
  - git push origin gh-pages
